body {
    height: 100vh;
    background-color: wheat;
    font-family: 'Arial', sans-serif;
    margin: 0;
    text-align: center;
}

.content h1{
 color: #2b8b2e;
 text-decoration: underline;
}

.content p{
    font-weight: bolder;
    color: maroon;
}

.calculator {
    border: 2px solid  #5abc71;
    margin: 3% auto;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px #519f27;
    background-color: #343434;
    width: 320px;
}

.calculator-screen {
    width: 93%;
    height: 60px;
    margin-bottom: 40px;
    border: 1px solid #fff;
    background-color: #5abc71;
    color: white;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.2em;
    border-radius: 5px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.calculator-keys button {
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #eaeaea;
    font-size: 1.2em;
    transition: background-color 0.2s;
}

.calculator-keys button.operator {
    background-color: #ff9f00;
    color: white;
}

.calculator-keys button.equal-sign {
    background-color: #4caf50;
    color: white;
 
}

.calculator-keys button.all-clear {
    background-color: #f44336;
    color: white;
    
}

.calculator-keys button:hover {
    background-color: #d1d1d1;
}

.calculator-keys button.operator:hover,
.calculator-keys button.equal-sign:hover,
.calculator-keys button.all-clear:hover {
    background-color: #ff5722;
}

@media (max-width: 400px) {
    .calculator {
        width: 80%;
        margin: auto;
    }
}
